
    <form action="/mailSignups" class="newsletterPageStyles" method="post">
        <h4>Wanna quickly get my latest recipes?</h4>
        <label>Email</label>
        <input type="email" name="userEmail">
        <button type="submit" class="recipeBtn"> Get Recipes!</button>
    </form>
