<%- include("partials/header.ejs") %>
<div class="container">
    <div class="row">
  
      <div class="col-sm">
        <div class="pic">
          <div class="image">
            <a href="/recipes/breakfast">
              <img src="/images/break.jpg" alt="">
            <h3 class="styleText">Breakfast</h3>
          </a>
          </div>
        </div>
      </div>
  
    
      <div class="col-sm">
        <div class="pic">
          <div class="image">
            <a href="/recipes/lunch">
              <img src="/images/lunch.jpg" alt="">
          <h3 class="styleText">Lunch</h3>
        </a>
        </div>
      </div>
  </div>


      <div class="col-sm">
        <div class="pic">
          <div class="image">
            <a href="/recipes/dinner">
              <img src="/images/dinner.jpg" alt="">
              <h3 class="styleText">Dinner</h3>
            </a>
        </div>
      </div>
      </div>
   
    </div>
    <div class="authorDetails col-lg-11 col-sm-12">
      <div class="det">
        <%- include("partials/newsletter.ejs") %>
    </div>
  </div>
  </div>

<%- include("partials/footer.ejs") %>
